/*
KoiBots purple: #662d91
*/

body {
  padding: 2px;
  font-size: 2vw;
  font-family: Montserrat;
  text-align: center;
  margin: -2vw;
}
h1, h2 {
  color: #FFF;
  font-family: Varela;
}

/*img {
  width: 100vw;
  height: 80vw;
}
*/
.b {
  margin-top: 1vw;
}
.container {
  position: relative;
  background-image: url(Pics/RoboticsTeam-1.jpg);
  background-size: cover;
  background-position: center;
  color: #FFF;
  width: 100%;
  height: 100vh;
  background-opacity: 50%;
}
#navbar {
  display: inline-block
}
#navbar h1 {
  align-items: center;
  justify-content: center;
}
#navbar a {
  float: right;
  display: inline;
  color: #FFF;
  text-align: right;
  padding: 1vw 2vw;
  text-decoration: none;
  font-size: 2vw;
  font-family: Montserrat;
}
#navbar img {
  opacity: 50%;
}
#navbar a img.a {
  position: relative;
  width: 9vw;
  height: 9vw;
  float: left;
  padding: 0vw;
  margin-top: 0vw;
  margin-right: 0vw;
}
#navbar a img.c {
  position: absolute;
  top: 0;
  left: 0;
  width: 9vw;
  height: 12vw;
}
#navbar a.active {
  color: #FFF;
}
#navbar a:hover {
  color: #662D91;
}
/*#navbar a.pic1, a.pic2 {
  background-color: #333;
}*/
section {
  padding: 5vw;
}
.flyer{
  width: 100%;
  height: 100%;
}
